<div class="row">
  <div class="portlet portlet-boxed">
    <div class="portlet-header">
      <h4 class="portlet-title">
        Presentación
      </h4>
    </div> <!-- /.portlet-header -->
    <div class="portlet-body topics-progress">
      <div layout="column" layout-align="center center">
        <div>
          <img src="images/unicaribe.jpg" alt="Universidad del Caribe">
        </div>
        <div style="margin-top: 25px">
          <p>La Academia de Matemáticas del Departamento de Ciencias Básicas e Ingenierías está conformada por un grupo de profesores que fomenta el aprendizaje de las matemáticas universitarias fundamentales para los diferentes programas educativos de la Universidad del Caribe.</p>
          <p>Los integrantes de la Academia impulsamos la calidad educativa en las asignaturas que tenemos adscritas a través de la producción de material didáctico, de la utilización de herramientas computacionales de vanguardia para la enseñanza y de la organización de eventos académicos.</p>
          <p>Esperamos que la información que encuentres en este sitio te resulte interesante y de utilidad. Aprovechamos también para darte la bienvenida a la Universidad.</p>
        </div>
      </div>
    </div> 
  </div>
</div> <!-- /.row -->