  <div class="account-wrapper">
    <div class="account-body">
      <h2>Recuperar contraseña</h2>
      <h5>Te enviaremos instrucciones para recuperar tu contraseña</h5>
      <form class="form account-form" ng-submit="recovery(email)" ng-show="!success && !loading">

        <div class="form-group">
          <label for="forgot-email" class="placeholder-hidden">Correo Electrónico</label>
          <input ng-model="email" type="text" class="form-control" id="forgot-email" placeholder="Your Email" tabindex="1">
        </div> <!-- /.form-group -->

        <div class="form-group">
          <button type="submit" class="btn btn-secondary btn-block btn-lg" tabindex="2">
            Recuperar contraseña &nbsp; <i class="fa fa-refresh"></i>
          </button>
        </div> 
        <div class="form-group">
          <a href="#/login"><i class="fa fa-angle-double-left"></i> &nbsp;Regresar al login</a>
        </div> 
      </form>
      <div layout="row" layout-align="center center" ng-show="loading && !success">
        <md-progress-circular md-mode="indeterminate" md-diameter="100px"></md-progress-circular>
      </div>
      <p class="show-error" ng-show="success">Revisa tu correo electronico para recuperar tu contraseña.</p>

    </div> <!-- /.account-body -->

  </div> <!-- /.account-wrapper -->
